### 1. Chipotle의 주문데이터(01-chipotle-eda.ipynb)에 대해서 총판매액수가 가장 높은 상위 10개의 품목을 출력하기. 즉 각 품목당 총판매액수들을 구한 후에 액수가 가장 높은 10개의 품목을 출력하기

#### chipotle 데이터를 받아옴.

In [1]:
import pandas as pd

file_path = '../data/chipotle.tsv'
chipo = pd.read_csv(file_path, sep = '\t')

In [2]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

#### order_id 는 의미를 갖지 않으므로 string 문자열 타입으로 변환해줌.

In [ ]:
chipo['order_id'] = chipo['order_id'].astype(str)

#### item_price를 계산하기 위해서 앞의 '$'문자를 제거하는 전처리 과정

In [3]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(x[1:]))

#### 총판매액수가 가장 높은 상위 10개의 품목

In [29]:
item_total_sales = chipo.groupby('item_name')['item_price'].sum().sort_values(ascending=False)
item_total_sales.head(10)

item_name
Chicken Bowl           7342.73
Chicken Burrito        5575.82
Steak Burrito          3851.43
Steak Bowl             2260.19
Chips and Guacamole    2201.04
Chicken Salad Bowl     1228.75
Chicken Soft Tacos     1108.09
Veggie Burrito          934.77
Barbacoa Burrito        894.75
Veggie Bowl             867.99
Name: item_price, dtype: float64